// custom values
$primary: #c23894;


// import the functions & variables
@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";

//custom theme colors
$custom-theme-colors: (
    "altlight": #f2ebfa,
    "altdark": #522192,
    "orangemd": #e79821

);
// merge the maps to add new theme colors
$theme-colors: map-merge($custom-theme-colors, $theme-colors);

// import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";